<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="shipping" >
            <group id="shipping_api_qty" sortOrder="40" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>Shipping API Quantity</label>
                <field id="disable_shipping_qty" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Disable quantity change after API response</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
